<% if (post && post.place){%>
  <div id="map" class="map" data-location="<%= post.place %>"></div>
  <p>
    Près de <strong><%= post.place %></strong><br>
    <% if(post.timezone) { %>
      Actuellement il est <time data-timezone="<%= post.timezone %>" datetime="<% moment().format() %>" class="moment"></time> là-bas.</p>
    <% } %>
<% } %>
