h1, h2, h3,
.h1, .h2, .h3 {
  &:first-child {
    margin-top: 0;
  }
  small,
  .small {
    display: block;
    font-size: 0.5em;
    color: $gray-dark;
    line-height: $line-height-computed;
  }
}

h3,
.h3 {
  color: $gray-dark;
}

.heading-line {
  display: flex;
  justify-content: space-between;
  margin: $padding-large-vertical 0;

  [class^="icon"],
  [class*=" icon"] {
    width: 0.5em;
    height: 1.2em;
  }
}
