.archives-wrap {
  padding: rem-calc(60) 0;
}
.archives {
  @include susy-breakpoint($break-small) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 rem-calc(-12);
  }
}
.archive-article {
  padding-top: rem-calc(12);
  @include susy-breakpoint($break-small) {
    flex: 1;
    padding: rem-calc(12);
  }
}
.archive-article-inner {
  padding: rem-calc(12 24 18);
  background: #E4E0D9;
  border-radius: 2px;
}
.archive-article-title {
  margin: 0;
  & a {
    color: #2B5063;
  }
}
